* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    height: 130px;
    width: 100%;
    padding: 0;
    background-color: skyblue;
    position: relative;
}
h1 {
    font-size: 30px;
    margin-top: 10px;
    color: white;
    background-color: lightcoral;
    padding: 10px 10px 15px 60px;
    display: inline-block;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    position: relative;
    font-size: 20px;
}
.nav-links li a::after {
    content: '';
    background-color: lightcoral;
    width: 100%;
    height: 3.1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner {
    position: relative;
    display: block;
    background-image:url(../../Photos/_BlueBanner.jpg);
    background-size: cover;
}
h2 {
    position: relative;
    color: white;
    background-color: lightcoral;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    border: white;
    border-radius: 3px;
    display: inline-block;
    left: 85%;
}
.worksection {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    position: relative;
    display: flex;
}
.h {
    display: inline-block;
    border-right: 3px skyblue solid;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 30px;
    padding-right: 10px;
}

.banner > h2 {
    margin:15px;
}

/* .animePhoto {
    border: 6px rgb(152, 182, 226) solid;
    width: 80%;
    margin-left: 40px;
    height: 400px;
    background-image: url(../../Photos/Anime\ Collage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    margin-top: 40px;
    display: inline-block; */
}
/* #Photo1 {
    border: 6px rgb(152, 182, 226) solid;
    width: 30%;
    margin: 10px;
    height: 200px;
    background-image: url(../../Photos/Onepiece.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}
#Photo2 {
    border: 6px rgb(152, 182, 226) solid;
    width: 30%;
    margin: 10px;
    height: 200px;
    background-image: url(../../Photos/AttackonTitan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
} */
section {
    display: flex;
    flex-direction: row;
}
.formating {
    flex-direction: row;
    margin-top: 70px;
    position: relative;
    display: flex;
}
h4 {
    font-size: 69px;
    padding-left: 20px;
    margin-right: 0;
    padding-right: 20px;
    border-right: 6px rgb(152, 182, 226) solid;
}



 span{
    font: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding: 3% 3% 3% 3%;
    background-color: red;
    opacity: 1;
    display: inline-block;
    margin-top: 20%;
    margin-left: 0%;
}

.caption {
    border: 6px rgb(152, 182, 226) solid;
    width: 87%;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    height: 400px;
    background-image: url(../../Photos/Anime\ Collage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}
.outside {
    border: 6px rgb(152, 182, 226) solid;
    width: 90%;
    margin-left: 40px;
    margin-right: 40px;
    height: 400px;
    display: flex;
}
.inside {
    border: 6px rgb(152, 182, 226) solid;
    width: 37%;
    margin-left: 30%;
    margin-right: 10%;
    height: 170px;
    margin: 40px 81px 30px 40px;
    display: inline-flex;
    background-image: url(../../Photos/Akatsuki.png);
    opacity: .7;
    background-size: cover;
}
.FormatColumn {
    flex-direction: column;
    width: 100%;
}
#HXH {
    background-image: url(../../Photos/HXH.webp);
    background-size: contain;
}
#berserk {
    background-image: url(../../Photos/Berserk.jpg);
    /* background-size: contain; */
    background-repeat: 0;
    background-size: 100% 100%;
}
#CodeG {
    background-image: url(../../Photos/code-geass-wall.webp);
    background-size: 100% 100%;
}
.caption:hover {
    opacity: 1;
}
.inside:hover {
    opacity: 1;
}
h5 {
    display: inline-block;
    font-size: 30px;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 15px;
    right: 20px;
    margin-top: 10px;
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    list-style: none;

}

@media screen and (max-width:600px) {
    .worksection{
        display:flex;
        flex-direction:column;
        font-size: 15px;
        overflow: hidden;
    
    }

    .outside{
        flex-shrink: 1 0 0;
    }
    .inside {
        flex-shrink: 1 0 0;
    }
    .banner {
        width: 100%;
    }
    h2 {
        left: 50%;
    }
    .FormatColumn {
        flex-direction: column;
    }
    .caption {
        flex-direction: column;
    }
}
